.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: rgba(0,0,0,.54);

}
.index-text{
    margin-top:20px;
    color: rgba(0,0,0,.44);
}
.index-image{
    width: 400px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}
.jumbotron.fortags a {
    background: #1C9963 !important;
}
.card-tags a {
  background: #1C9963 !important;
  color: #fff;
  margin-bottom: 0 !important;
  padding: 5px 10px 7px;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  text-transform: lowercase;
  font-size: 0.8rem;
  display: inline-block;
}
.error{
    text-align: center !important;
}
@media(min-width: 769px){
    .md-nopad-right{
        padding-right: 0px !important;
    }
    .md-nopad-left{
        padding-left: 0px !important;
    }
}
.post.author .avatar {
	border-radius:50%;
	width:100px;
	margin-top:-70px;
	margin-bottom:20px;
	border:10px solid #fff;
}
