<div class="section-index my-4">
  {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
  {{ $parent := .Page }}
  <br>
  <div class="row">
    {{ range $pages }}
    {{ if eq .Parent $parent }}
    <div class="col-sm-6 mb-4 d-flex align-items-stretch">
      <div class="card flex-fill">
        <div class="card-header">
          <strong>{{- .Title -}}</strong>
        </div>
        <div class="card-body">
          <p class="card-text">{{ .Description | markdownify }}</p>
        </div>
        <div class="card-footer text-right">
          <a href="{{ .RelPermalink }}" class="btn btn-primary">Group Details</a>
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>