<div class="section-index">
  {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
  {{ $parent := .Page }}
  <br>
  <div class="row">
    {{ range $pages }}
    {{ if eq .Parent $parent }}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{- .Title -}}</h5>
          <p class="card-text">{{ .Description | markdownify }}</p>
          <a href="{{ .RelPermalink }}" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>